body{
    font-family: 'poppins';
}
.header{
    height: 100vh;
    color: rgb(23,8,8);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    text-align: justify;
    background-image: url(https://th.bing.com/th/id/OIP.hYBgo_X4mW92z3FLlG01FwHaF7?pid=ImgDet&rs=1);
} 
.container
{
    width: 80%;
    margin: auto;
    height: 100%;
}
.header-quote
{
    font-size: 15px;
    font-weight: bolder;
    width: fit-content;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    margin: 19px;
    padding: 28px;
    line-height: 1px;
}
.header-title
{
    font-size: 80px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 20px;
    margin-top: 40px;
    line-height: 0px;

}
.subtitle1
{
   font-size: 20px;
   margin-bottom: 30px;
   font-weight: lighter;
   font-stretch: ultra-condensed;
   margin: 25px 118px;
   line-height: 0px;
}
.button
{
    color: aquamarine;
    background-color: darkblue;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding: 8px 26px;
    margin-left: 179px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}